# Java / Gradle (employee-creator-api)
employee-creator-api/HELP.md
employee-creator-api/.gradle/
employee-creator-api/build/
!employee-creator-api/gradle/wrapper/gradle-wrapper.jar
!employee-creator-api/**/src/main/**/build/
!employee-creator-api/**/src/test/**/build/

### STS ###
employee-creator-api/.apt_generated/
employee-creator-api/.classpath
employee-creator-api/.factorypath
employee-creator-api/.project
employee-creator-api/.settings/
employee-creator-api/.springBeans
employee-creator-api/.sts4-cache/
employee-creator-api/bin/
!employee-creator-api/**/src/main/**/bin/
!employee-creator-api/**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
employee-creator-api/out/
!employee-creator-api/**/src/main/**/out/
!employee-creator-api/**/src/test/**/out/

### NetBeans ###
employee-creator-api/nbproject/private/
employee-creator-api/nbbuild/
employee-creator-api/dist/
employee-creator-api/nbdist/
employee-creator-api/.nb-gradle/

# Node / Vite (employee-creator-web)
employee-creator-web/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

employee-creator-web/node_modules/
employee-creator-web/dist/
employee-creator-web/dist-ssr/
employee-creator-web/*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.clj-kondo/
.lsp/
