.addEmployee {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.addEmployeeText {
    margin: 0;
}

.addEmployeeButton {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
            background-color: var(--primary-hover);

    }
}
